<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head (pageTitle='Funcionario')"></head>
<body>
	<div th:include="menu :: menu"></div>
	
	<h1 class="text-center">Funcionario</h1>
	
	<div class="panel-body">
		<form class="form-horizontal" th:object="${funcionario}" th:action="@{/funcionario/save}" method="POST" style="margin: 10px">
			<div class="form-group">
					<fieldset>
					<div class="form-group row">
						<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
							<div th:each="detailedError : ${#fields.detailedErrors()}">
								<span th:text="${detailedError.message}"></span>
							</div>
						</div>
					</div> 					
					<div class="form-group row">
					    <div class="col-md-1">
					        <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
					    </div>
					 </div>
					<div class="form-group row">                                                          
						<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
						    <label>Nome</label>
						    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="100"/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-4" th:classappend="${#fields.hasErrors('CpfCnpj')}? 'has-error'">
							<label>CPF</label> 
							<input type="text" class="form-control input-sm" th:field="*{CpfCnpj}" maxlength="11" placeholder="Informe o CPF"/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-2" th:classappend="${#fields.hasErrors('telefone')}? 'has-error'">
							<label>Telefone</label> 
							<input type="text" class="form-control input-sm" th:field="*{telefone}" maxlength="15"/>
						</div>
					</div>	
					<div class="form-group row">
						<div class="col-md-2" th:classappend="${#fields.hasErrors('endereco')}? 'has-error'">
							<label>Endereço</label> 
							<input type="text" class="form-control input-sm" th:field="*{endereco}" maxlength="100"/>
						</div>
					</div>					
					<div class="form-group row">
						<div class="col-md-4" th:classappend="${#fields.hasErrors('sexo')}? 'has-error'">
							<label>Sexo</label>
							Masculino <input type="radio" th:field="*{sexo}" value="M" >
	   						Feminino  <input type="radio" th:field="*{sexo}" value="F" >
						</div>
					</div>						
				</fieldset>
			</div>
			<div class="form-group row">
				<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
				<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
			</div>
		</form>
	</div>
</body>
</html>