<div th:fragment="menu">
	<div class="panel-footer">
		<a class="btn btn-sm btn-success" th:href="@{/}" >Inicio</a>
		<a class="btn btn-sm btn-success" th:href="@{/funcionario}" >Funcionario</a>
		<a class="btn btn-sm btn-success" th:href="@{/cliente}" >Cliente</a>
		<a class="btn btn-sm btn-success" th:href="@{/fornecedor}" >Fornecedor</a>
		<a class="btn btn-sm btn-success" th:href="@{/ordemVenda}" >Ordem de Venda</a>
		<a class="btn btn-sm btn-success" th:href="@{/pedidoCompra}" >Pedido de Compra</a>
		<a class="btn btn-sm btn-success" th:href="@{/estoque}" >Estoque</a>
	</div>
</div>	